<form action="#" method="post">

    <div class="from-group row">
        <label for="entidad" class="colm-sm-5 col-from-label">Nombre de la organizacion</label>
        <div class="col-sm-7">
            <imput type="text" class="form-control" id="entidad"
            required="required" title="Requiere nombre de la organizacion" placeholder="Nombre de la organizacion"
            name="entidad" value={{contact.entidad}}>

        </div>
    </div>

    <div class="from-group row">
            <label for="tel" class="colm-sm-5 col-from-label">Nombre de la organizacion</label>
            <div class="col-sm-7">
                <imput type="text" class="form-control" id="tel"
                required="required" title="Requiere nombre de la organizacion" placeholder="Nombre de la organizacion"
                name="tel" value={{contact.tel}}>
    
            </div>
    </div>

    <div class="from-group row">
            <label for="email" class="colm-sm-5 col-from-label">Nombre de la organizacion</label>
            <div class="col-sm-7">
                <imput type="text" class="form-control" id="email"
                required="required" title="Requiere nombre de la organizacion" placeholder="Nombre de la organizacion"
                name="email" value={{contact.email}}>
    
            </div>
    </div>

    <div class="from-group row">
            <label for="representante" class="colm-sm-5 col-from-label">Nombre de la organizacion</label>
            <div class="col-sm-7">
                <imput type="text" class="form-control" id="representante"
                required="required" title="Requiere nombre de la organizacion" placeholder="Nombre de la organizacion"
                name="representante" value={{contact.representante}}>
    
            </div>
    </div>

    <div class="from-group row">
            <label for="usuario" class="colm-sm-5 col-from-label">Nombre de la organizacion</label>
            <div class="col-sm-7">
                <imput type="text" class="form-control" id="usuario"
                required="required" title="Requiere nombre de la organizacion" placeholder="Nombre de la organizacion"
                name="usuario" value={{contact.usuario}}>
    
            </div>
    </div>

    <div class="from-group row">
            <label for="emailusuario" class="colm-sm-5 col-from-label">Nombre de la organizacion</label>
            <div class="col-sm-7">
                <imput type="text" class="form-control" id="emailusuario"
                required="required" title="Requiere nombre de la organizacion" placeholder="Nombre de la organizacion"
                name="emailusuario" value={{contact.emailusuario}}>
    
            </div>
    </div>

<button type="submit" class="btn btn-secondary" value="Submit">Aceptar</button>
<button type="submit" class="btn btn-secondary" value="Submit">Aceptar</button>
</form>